@charset "UTF-8";
/* CSS Document */

@media screen and (max-width:639px){

font{
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#555;
	margin-top:0px;
}
#thin{
	height:1px;
	background-color:#222;
}
#core {
	margin : 0px auto;
	width : 480px;
	height:auto;
	margin-bottom:40px;
}

#subtitle{
	padding-top:0px;
	margin-top:15px;
	margin-left:15px;
	width:465px;
}


#subtitlec{
	padding-top:0px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:10px;
	}
.sub{
	font-size: 36px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
}

#a-box {
	margin-top: 5px;
	padding-top:5px;
	height: auto;
	background-color: #FFFFFF;
	box-shadow:2px 4px 10px 2px rgba(0, 0, 0, 0.2);
	width:480px;
	padding-bottom:0px;
	overflow:hidden;

}

#a1-box{
	height: auto;
	margin-top:20px;
	margin-left:10px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	width:440px;
	background-color:#ddd;
	margin-bottom:20px;
	font-size:20px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	}
.exhibition{
	font-size:20px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#444;
	line-height:31px;
}
#a2-box{
	margin-top:0px;
	height:0px;
	width:0px;
	margin-right:0px;
	display:none;
}

#b-box {
	margin-top: 10px;
	height: auto;
	background-color: #FFFFFF;
	box-shadow:2px 4px 10px -1px rgba(0, 0, 0, 0.2);
	padding-bottom:30px;
	overflow:hidden;

}
.expic{
	height:00px;
	width:00px;
	margin:10px 10px;
}


#b1-box{
		margin-top:80px;
	margin-left:10px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:18px;
	padding-bottom:10px;
}
#b2-box{
		margin-top:80px;
	margin-left:10px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:18px;
	padding-bottom:10px;
}
#b3-box{
	margin-top:80px;
	margin-left:10px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:18px;
	padding-bottom:10px;
	min-width:440px;

}
#b4-box{
		margin-top:80px;
	margin-left:10px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:18px;
	padding-bottom:10px;
}

#y1{
	margin-top:10px;
	margin-right:0px;
	height:0px;
	width:50px;
	position:relative;
	top:10px;
	left:20px;
	float:left;
}
#y2{
	margin-top:30px;
	margin-left:0px;
	height:0px;
	width:0px;
	position:relative;
	top:-10px;
	left:20px;
	width:auto;
}
#y3{
	margin-top:25px;
	margin-left:25px;
	position:relative;
	top:-5px;
	left:-435px;
	height:0px;
	width:10px;
}
#y4{
	margin-top:25px;
	margin-left:0px;
	position:relative;
	top:-5px;
	left:20px;
	height:0px;
	width:10px;
}
#yy{
	margin:0px 0px;
}
.yyy{
	font-size: 40px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
}

#c-box {
	margin-top: 10px;
	height:auto;
	background-color: #FFFFFF;
	box-shadow:0px 1px 10px 3px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	padding-bottom:30px;
}
#Clinebox{
	height:auto;
	padding-bottom:5px;
	}

#c1-box{
	margin-top:15px;
	margin-left:10px;
	margin-bottom:10px;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:20px;
}#c2-box{
	margin-top:15px;
	margin-left:10px;
	margin-bottom:10px;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:18px;
}
#c3-box{
	margin-top:10px;
	height:auto;
	width:440px;
	background-color: #ddd;
	line-height:25px;
	font-size:16px;
}

#triangle1{	height:0px;
	width:0px;
	display:none;

}
#triangle2{
	height:0px;
	width:0px;
	display:none;

}

.just{
	text-justify:auto;
}

.question{
	font-size:24px;
	color:#555;
}
.answer{
	font-size:20px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	width:100%;
	color:#555;

}
}