@charset "UTF-8";
/* CSS Document */

#core{
	margin : 0px auto;
	width:1000px;
	padding-left:50px;
	padding-right:50px;	
}

#products_box{
	margin:0px auto;
	margin-top:60px;
	height:710px;
	width:1000px;
	background-color: #fff;
	box-shadow:2px 4px 10px 2px rgba(0, 0, 0, 0.2);
}
#products_box2{
	margin:0px auto;
	margin-top:60px;
	height:1100px;
	width:1000px;
	background-color: #fff;
	box-shadow:2px 4px 10px 2px rgba(0, 0, 0, 0.2);
}
#upper-products{
	margin:0px 0px;
	height:100px;
}

#middle-products{
	margin:0px auto;
	height:400px;
	margin-top:30px;
}

#subtitle{
	margin-top:25px;
	margin-left:45px;
	float:left;
}

.worktitle{
	font-size: 55px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
	letter-spacing: 3px;
}
.mystudy{
	font-size: 45px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
	letter-spacing: 3px;
}

font{
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#555;
	margin-top:0px;
}

#client{
	float:left;
	margin-left:30px;
	margin-top:58px;
	height:auto;
	width:auto;
	font-size: 24px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing: 2px;
	color:#777;
}

#study{
	float:left;
	margin-left:20px;
	margin-top:45px;
	height:auto;
	width:auto;
	font-size: 24px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing: 2px;
	color:#777;
}

#picture{
	height:350px;
	width:550px;
	float:left;
	background-color:#ddd;
	margin-left:50px;
	padding: 0px;
}

#detail{
	background-color:#fff;
	float:left;
	height:350px;
	width:300px;
	margin-left:60px;
	margin-top:5px;
}
#year{
	width:200px;
	height:20px;
	font-size:20px;
	color:#888;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:1px;
	font-weight:1;
}
#title{
	width:270px;
	height:20px;
	font-size:20px;
	color:#666;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:1.5px;
	font-weight:1;
}
.short{
font-size:14px;
	color:#777;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:1px;
	font-weight:1;
}
#app-types{
		width:300px;
	margin-top:35px;
	color:#777;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	height:15px;
	font-size:16px;
	letter-spacing:1px;
	position:relative;

}
#start{
	margin-top:35px;
	width:280px;
	height:15px;
	font-size:20px;
	color:#777;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:0px;

}
#roles{
	width:auto;
	margin-top:14px;
	height:15px;
	font-size:20px;
	color:#666;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:0px;

}

.small{
	font-size:14px;
	letter-spacing:1px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#aaa;
}
.contest{
font-size:14px;
	letter-spacing:0px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#aaa;
	top:-6px;
	position:relative
}
.exhibition{
	font-size:18px;
	letter-spacing:0px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#777;
	top:-3px;
	position:relative
}
#lower-products{
	margin:0px auto;
	margin-top:30px;
	height:auto;
	width:890px;
	font-size:14px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#555;
}
.year{
	color:#bbb;
	font-size:12px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
.point{
	position:relative;
	top:-2px;
	color:#777;
}
#explanation{
	margin:0px auto;
}
#movie{
	margin-top:40px;
	margin-left:55px;
}
#undermovie{
	height:auto;
	width:auto;
	margin-left:50px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size:10px
	}