@charset "UTF-8";
/* CSS Document */

@media screen and (max-width:999px){

#core{
	margin : 0px auto;
	width:768px;
	padding-left:0px;
	padding-right:0px;	
}

#products_box{
	margin:0px auto;
	margin-top:60px;
	height:auto;
	width:768px;
	background-color: #fff;
	box-shadow:2px 4px 10px 2px rgba(0, 0, 0, 0.2);
	padding-bottom:35px;
}
#products_box2{
	margin:0px auto;
	margin-top:60px;
	height:1120px;
	width:768px;
	background-color: #fff;
	box-shadow:2px 4px 10px 2px rgba(0, 0, 0, 0.2);
}
#upper-products{
	margin:0px 0px;
	height:100px;
}

#middle-products{
	margin:0px auto;
	height:380px;
	margin-top:30px;
}

#subtitle{
	margin-top:25px;
	margin-left:10px;
	float:left;
}

.worktitle{
	font-size: 55px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
	letter-spacing: 3px;
}
.mystudy{
	font-size: 42px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
	letter-spacing: 3px;
	margin-top:15px;
	margin-left:10px;
	float:left;}
#mystudy1{
	font-size: 32px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin:0px auto;
	letter-spacing: 3px;
	margin-top:20px;
	margin-left:10px;
}
font{
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#555;
	margin-top:0px;
}

#client{
	float:left;
	margin-left:30px;
	margin-top:58px;
	height:auto;
	width:auto;
	font-size: 24px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing: 2px;
	color:#777;
}

#study{
	float:left;
	margin-left:20px;
	margin-top:10px;
	height:auto;
	width:auto;
	font-size: 24px;
	font-family: 'Enriqueta','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing: 2px;
	color:#777;
}

#picture{
	height:308px;
	width:440px;
	float:left;
	background-color:#fff;
	padding: 0px;
}
.bxslider1{
	width:440px;
	height:308px;
}

#detail{
	background-color:#fff;
	float:left;
	height:300px;
	width:300px;
	margin-left:20px;
	margin-top:5px;
}
#year{
	width:200px;
	height:20px;
	font-size:20px;
	color:#888;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:1px;
	font-weight:1;
}
#title{
	width:270px;
	height:20px;
	font-size:20px;
	color:#666;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:1.5px;
	font-weight:1;
}
.short{
font-size:14px;
	color:#777;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:1px;
	font-weight:1;
}
#app-types{
		width:300px;
	margin-top:35px;
	color:#777;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	height:15px;
	font-size:16px;
	letter-spacing:1px;
	position:relative;

}
#start{
	margin-top:15px;
	width:280px;
	height:15px;
	font-size:20px;
	color:#777;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:0px;

}
#roles{
	width:auto;
	margin-top:14px;
	height:15px;
	font-size:20px;
	color:#666;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	letter-spacing:0px;

}

.small{
	font-size:14px;
	letter-spacing:1px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#aaa;
}
.contest{
font-size:14px;
	letter-spacing:0px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#aaa;
	top:-6px;
	position:relative
}
.exhibition{
	font-size:18px;
	letter-spacing:0px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#777;
	top:-3px;
	position:relative
}
#lower-products{
	margin:0px auto;
	margin-top:0px;
	height:auto;
	width:768px;
	font-size:16px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color:#555;
}
.year{
	color:#bbb;
	font-size:12px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
.point{
	position:relative;
	top:-2px;
	color:#777;
}
#explanation{
	margin:0px auto;
	padding-left:10px;
}
#movie{

}
#undermovie{
	height:auto;
	width:auto;
	margin-left:55px;
	font-family: ubuntu mono,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size:12px
	}
	.youtube {
  position: relative;
  width: 100%;
  	margin:0px auto;
	margin-top:40px;
	margin-left:100px;
}
.youtube iflame{
 position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  }
}